#item_error {
  font-size: 18px;
  font-family: monospace, sans-serif;
  max-width: 500px;
  margin: 40px auto;
  text-align: center;
  border-radius: 5px;
  padding: 4px;
  background-color: #f86c6c;
}

.show_error {
  display: block;
}

.hide_error {
  display: none;
}
