.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    padding: 5px;
    border-radius: 5px;
}

.nav > .nav__title {
    flex-grow: 1;
}

.nav > .nav__item {
    margin-left: 10px;
    margin-right: 10px;
}

.todo {
    border: 1px grey solid;
    border-radius: 5px;
    margin: 5px;
    max-width: 300px;

}

.todo > .todo__title {
    font-weight: bolder;
}
