<!DOCTYPE html>
<html>
    <head>
        <title>Add List Item</title>
        <script src="http://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="{{ url_for('static', filename='addItem.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='addItem.css') }}">
    </head>
    <body>
        <div class="nav">
            <h1 class="nav__title">To Do App</h1>
            <a href="/" class="nav__item">Dashboard</a>
            <a href="/edit" class="nav__item">Add New Todo</a>
        </div>
        <div>
            <form action="/add-form" method="POST">
                <input required name="name"></input>
                <input required name="priority"></input>
                <input name="blocked_by"></input>
                <button id="submit_button">Submit</button>
            </form>
        </div>
        <div id="item_error" class="hide_error">
            Item ID is invalid!
        </div>
    </body>
</html>
