<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <script src="http://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='dashboard.css') }}"
    />
  </head>
  <body>
    <div class="nav">
      <h1 class="nav__title">To Do App</h1>
      <a href="/" class="nav__item">Dashboard</a>
      <a href="/edit" class="nav__item">Add New Todo</a>
    </div>
    {% block temp_content %}
    <div id="todo-items"></div>
    <script src="{{ url_for('static', filename='dist/bundle.js') }}"></script>
    {% endblock %}
  </body>
</html>
